# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/.ionic
/.versions
/coverage
/dist
/node_modules
/platforms
/plugins
/www

# Editor directories and files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
