@use "sass:string";

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #3880ff;
	opacity: 0.75;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

ion-content {
	--overflow: hidden;
	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	background: rgb(240, 240, 240);
	overflow-x: hidden;
}
